body {
    
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.App {
    background: url(../img/zakat-pticy-more.jpg);
}

.header {
    background: url(../img/logo.png) no-repeat center / cover;
}